.counto{
  color: aliceblue ;
  font-size: 20px;
}
h1{
  text-align: center;
 } 
 /* .display{
  width: 30%;
  display: inline-block;
  display: flex;
  flex-direction: row; 
}  */
 /* .graph{
  width: 950px;
  margin-left: 70px;
  margin-top: 20px; 
 }    */
 .graph{
   margin-top: 70px;
 }
